@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .section-title {
    @apply lg:text-8xl text-4xl font-black text-white mb-8;
  }

  .glass-container {
    @apply bg-black/25 bg-opacity-25 shadow-md backdrop-blur-md backdrop-filter  border-[#FDD200] border;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-10;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }
}

/* Define the keyframes animation */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Apply the animation to the scrolling-text class */
.scrolling-text {
  animation: scroll 20s linear infinite;
}

/* FAQ section styles START */

#faq details {
  border: 1px solid #fdd200;
  border-radius: 24px;
  backdrop-filter: blur(40px);
  background-color: rgb(0 0 0 / 0.5);
  box-sizing: border-box;
  transition: max-height 400ms ease-out;

  max-height: 4rem;
  overflow: hidden;
}

#faq summary {
  color: #fdd200;
  font-weight: 700;
  display: block;
}

#faq input {
  display: none;
}

#faq label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 4rem;
}

#faq label:hover {
  cursor: pointer;
}

#faq label::before {
  content: ">";
  font-size: 1.5rem;
  font-weight: 400;
  height: 4rem;
  display: flex;
  align-items: center;
  margin-right: 2rem;
  transition: rotate 200ms 400ms ease-out;
}

#faq div.content {
  padding: 0.5rem 1rem 1rem 4.25rem;
  color: white;
  text-wrap: balance;
}

#faq input:checked + details {
  max-height: 800px;
}

#faq input:checked + details label::before {
  rotate: 90deg;
  transition: rotate 200ms ease-out;
}

/* FAQ section styles END */
